*-ignore*
*.log
*.png
*.sqlite
*.swp
*.zip
*ignore-*
+**/*.egg-info
.ackrc
.cache
.catium
.DS_Store
.env
.idea/
.pytest_cache
.securitycenter
.tenableio
.tools
__pycache__
build/
cached_testdata
catium
config.json
configuration
debug.txt
dist/
docs/_build
docs/catium
docs/modules.rst
docs/tests
file.txt
ghostdriver.log
node_modules/
output/
product.ini
pylint_scores.txt
securitycenter
site-config.ini
temp/
tenableio
test-results/
tooling
venv/
.run/
.vscode/settings.json
.claude/settings.local.json
.testing/